@import "./_variables.scss";

// 用于按钮样式
.center--text {
  color: $clr-text-pri;
  background-color: $clr-back;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
// button专用 把按钮当span用
.plain {
  color: $clr-text-pri;
  background-color: $clr-back;
  border: none;
}

// 基础选中效果

.active-effect{
  border: $mico-gap solid transparent;
  color: $clr-text-pri;
  background-color: $clr-back;
  transition: all 200ms;
  
  &:hover {
    color: $primary-color;
    border-color: $primary-transp-0;
  }

  &:active {
    background-color: $primary-transp-0;
    transform: scale(0.9);
  }

  &.active {
    background-color: $primary-color;
    color: $clr-back;
  }
}

.active-effect-enlarge{
  @extend .active-effect;
  &:active {
    background-color: $primary-transp-0;
    transform: scale(1.1);
  }
}


// 基础 grid 布局
.grid--margin {
  display: grid;
  grid-gap: $gap;
  margin: $gap auto;
  align-items: center;
}






// 滚动条
// html {
//   overflow-y: scroll;
// }

// :root body {
//   position: absolute;
// }

:root {
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  width: 100vw;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
