@import "./_variables.scss";

// 用于按钮样式
.center--text {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

// 基础 grid 布局
.grid--margin {
  display: grid;
  grid-gap: $gap;
  margin: $gap auto;
  align-items: center;
}
html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
